<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <nav>
      <a href="/newgab">Create a new Gab</a> | <a href="/logout">Log Out</a> | Signed in as {{username}}
    </nav><br>
    <div class="container">

    </div>
  </body>
</html>
