{{#gabs}}
<div class="gabContainer">
  <div class="insideContainer">
    <p><span class="createdBy">{{createdBy}}</span>:  {{body}}</p>
    <p class="createdAt">{{createdAt}}</p>
    <span class="msgId">{{id}}</span>
  </div>
  <div class="buttonContainer">
    <button type="button" onclick="likeMsg();" class="likeBtn">Like</button>
    <button type="button" onclick="deleteMsg();" class="delBtn">Delete</button>
  </div>
</div>

<hr class="sexy-line">
{{/gabs}}


<script type="text/javascript" src="/public/js/index.js">

</script>
