{{#gabs}}
<div class="gabContainer">
  <div class="insideContainer">
    <p><span class="createdBy">{{#createdBy}}{{username}}{{/createdBy}}</span>:  {{body}}</p>
    <p class="createdAt">{{createdAt}}</p>
    <span class="msgId">{{id}}</span>
    <span class="likes">{{likedBy.length}} like</span>
  </div>
  <div class="buttonContainer">
    <form class="" action="likeMsg" method="post">
      <button name="id" class="likeBtn" value="{{id}}">Like</button>
    </form>
    <form class="" action="/delMsg" method="post">
      <button name="id" class="delBtn" value="{{id}}">Delete</button>
    </form>
  </div>
</div>

<hr class="sexy-line">
{{/gabs}}


<script type="text/javascript" src="/public/js/index.js">

</script>
