<form class="newGabForm" action="/newgab" method="post">
  <textarea name="newGab" autofocus autocomplete="off"></textarea>
  <button type="submit">Save Gab</button>
</form>
<p class="remaining">140 characters remaining</p>
<script type="text/javascript" src="public/js/newgab.js">
</script>
