<ul>{{#errMsgs}}<li>{{.}}</li>{{/errMsgs}}</ul>

<form action="/signup" method="post">
  <label for="username">Username</label><br>
  <input type="text" name="username" required autofocus autocomplete="off"><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" required><br>

  <label for="password">Confirm Password</label><br>
  <input type="password" name="passwordConfirm" required><br>

  <button type="submit">Sign Up</button>
</form>
